@page "/FoydalanuvchilarniKor'rsat/{kategoriyaId}"

@using FluentValidation
@using Newtonsoft.Json;
@using OutlayMudBlazor.Dtoes;
@inject NavigationManager NavManager
@using System.Net.Http.Json
@using OutlayMudBlazor.Services;
@inject HttpClient httpClient
@inject ISnackbar Snackbar
@inject CategoryService categoryService
@inject IConfiguration configuration

@if (errorMessage is not null)
{
    <div style="display: flex; justify-content: center;">
        <MudAlert Severity="MudBlazor.Severity.Error">@errorMessage</MudAlert>
    </div>
}
else if (Elements?.Count() is 0)
{
    <div style="text-align: center;">
        <h1>Foydalanuvchilar mavjud emas</h1>
    </div>
}
else
{
    <MudTable style="background-color:floralwhite;" Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<User,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1"
         SortLabel="Sort By" CommitEditTooltip="Commit Edit"
          OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
          RowEditCommit="ItemHasBeenCommitted" IsEditRowSwitchingBlocked="@blockSwitch" ApplyButtonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="@editTrigger">

        <ToolBarContent>
            <MudText Typo="Typo.h6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Foydalanuvchilar</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Qidirish" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>


        <ColGroup>
            @if (Element.IsAdmin)
            {
                <col style="width: 1%;" />
                <col style="width: 42%;" />
                <col style="width: 25%;" />
                <col style="width: 29%;" />
                <col style="width: 3%;" />
            }
            else
            {
                <col style="width: 1%;" />
                <col style="width: 43%;" />
                <col style="width: 26%;" />
                <col style="width: 30%;" />
            }

        </ColGroup>

        <HeaderContent>

            <MudTh style="text-align: center;"><MudTableSortLabel SortBy="new Func<User, object>(x=>x.Index)">Narx</MudTableSortLabel></MudTh>
            <MudTh style="text-align: center;"><MudTableSortLabel SortBy="new Func<User, object>(x=>x.UserName)">Nom</MudTableSortLabel></MudTh>
            <MudTh style="text-align: center;"><MudTableSortLabel SortBy="new Func<User, object>(x=>x.NumbersOfBuyingThings)">Qilgan xarajatlari soni</MudTableSortLabel></MudTh>
            <MudTh style="text-align: center;"><MudTableSortLabel SortBy="new Func<User, object>(x=>x.ResultMoney)">Natijaviy pul</MudTableSortLabel></MudTh>

            @if(Element.IsAdmin)
            {
                 <MudTh style="text-align: center;">O'chirish</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
               <MudTd style="text-align: center;">@context.Index</MudTd>
            <MudTd>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;@context.UserName</MudTd>
            <MudTd style="text-align: center;">@context.NumbersOfBuyingThings</MudTd>
            <MudTd style="text-align: center;">@context.ResultMoney</MudTd>
            @if (Element.IsAdmin)
            {
                <MudTd> <MudIconButton @onclick="async () => await DeleteUser(context.Id)" Icon="@Icons.Material.Filled.PersonRemove" Color="Color.Default" /> </MudTd>
            }

        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Har bir sahifadagi qatorlar:"
                       FirstPageLabel="Birinchi sahifa"
                       LastPageLabel="So'nggi sahifa"
                       ItemsPerPageLabel="Qatorlar soni: "
                       PageLabel=" sahifa"
                       OfLabel=" dan" />

        </PagerContent>
    </MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Zich</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Success">Yo'l-yo'l</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Chegara</MudSwitch>
        <MudSpacer />
    </div>

}


@code {
    private bool enabled = true;
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString1 = "";
    private User selectedItem1 = null;
    public string? errorMessage;
    public string? errorDetails;

    private List<User>? Elements = new List<User>();
    private Users? Element = new Users();


    [Parameter]
    public string? kategoriyaId { get; set; }

     protected override async Task OnInitializedAsync()
    {
         var result = await categoryService.ShowUsers(kategoriyaId);

        if (result.IsSuccess)
        {
            Element = result.Data;
            Elements = Element.UsersList;
            var index = 0;
            foreach (var el in Elements = Element.UsersList)
            {
                el.Index = ++index;
            }

        }
        else
        {
            errorMessage = result.ErrorMessage;
            errorDetails = result.ErrorDetails;

            if (errorDetails is not null)
                await SendTelegramMessage.SendTelegram(errorDetails, configuration);
        }
    }

    private async Task DeleteUser(int userId)
    {

        var result = await categoryService.DeleteUserAsync(kategoriyaId,userId);

        if (result.IsSuccess)
        {
            @if (result.Data is "GotoGetCategories")
            {
                NavManager.NavigateTo("/Kategoriyalar");
            }
            else
            {
                NavManager.NavigateTo(NavManager.Uri, true);
            }
        }
        else
        {
            errorMessage = result.ErrorMessage;
            errorDetails = result.ErrorDetails;

            if (errorDetails is not null)
                await SendTelegramMessage.SendTelegram(errorDetails, configuration);
        }
    }

     public string UserName { get; set; }
    public int NumbersOfBuyingThings { get; set; }
    public int ResultMoney { get; set; }

    private bool FilterFunc1(User element) => FilterFunc(element, searchString1);

    private bool FilterFunc(User element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }


    private bool blockSwitch = false;
    private List<string> editEvents = new();
    private User elementBeforeEdit;
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.RowClick;



    public enum TableApplyButtonPosition
    {
        Start,
        End,
        StartAndEnd
    }

    public enum TableEditButtonPosition
    {
        Start,
        End,
        StartAndEnd
    }

    public enum TableEditTrigger
    {
        RowClick,
        EditButton
    }


    private void ClearEventLog()
    {
        editEvents.Clear();
    }

    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }

    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
            {
                Index = ((User)element).Index,
                UserName = ((User)element).UserName,
                ResultMoney = ((User)element).ResultMoney,
                NumbersOfBuyingThings = ((User)element).NumbersOfBuyingThings,

            };
        AddEditionEvent($"RowEditPreview event: made a backup of Element {((User)element).Index}");
    }

    private void ItemHasBeenCommitted(object element)
    {
        AddEditionEvent($"RowEditCommit event: Changes to Element {((User)element).Index} committed");
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((User)element).Index = elementBeforeEdit.Index;
        ((User)element).UserName = elementBeforeEdit.UserName;
        ((User)element).ResultMoney = elementBeforeEdit.ResultMoney;
        ((User)element).NumbersOfBuyingThings = elementBeforeEdit.NumbersOfBuyingThings;

        AddEditionEvent($"RowEditCancel event: Editing of Element {((User)element).Index} canceled");
    }

}









